html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../resources/fonts/D-DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.averam-home{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.averam-plans {
    display: flex;
    justify-content: center;
    background-color: #ff8c00;
    margin: 2%;
    border-radius: 25px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);
    
}
