@font-face {
  font-family: 'D-DIN';
  src: url('../resources/fonts/D-DIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bengaliApp-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste automático basado en el espacio */
  gap: 20px; /* Espacio entre las columnas */
  align-items: center;
  background-color: #FF8C00;
  padding: 2% 5% 5% 5%;
  margin: 2%;
  border-radius: 25px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);
}

.bengaliApp-desc {
  font-family: 'D-DIN';
}

.bengaliApp-desc h2 {
  font-size: 290%;
  margin-bottom: 10px;
}

.bengaliApp-desc p {
  font-size: 100%;
  line-height: 1.5;
}

.bengaliApp-img {
  text-align: right; /* Alinea la imagen a la derecha */
}

.bengaliApp-img img {
  max-width: 100%; /* Asegura que la imagen no exceda su contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
  -webkit-mask-image: linear-gradient(to top, transparent 1%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 1) 100%);
  mask-image: linear-gradient(to top, transparent 1%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 1) 100%);
}

/* Media query opcional para ajustar en pantallas pequeñas */
@media (max-width: 768px) {
  .bengaliApp-img {
    text-align: center; /* Centra la imagen en pantallas pequeñas */
  }
}
