.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-button:first-of-type {
    left: 10px;
  }
  
  .carousel-button:last-of-type {
    right: 10px;
  }
  