/* Estilos generales del navbar */
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.404);
}

#navLogo {
  width: 20%;
  min-width: 20%;
  max-width: 40%;
}

/* Estilos para los elementos de la lista */
nav ul li {
  list-style-type: none;
}

nav ul li a {
  font-family: 'D-DIN';
  padding: 0.0rem 1rem;
  letter-spacing: 2px;
  color: #1D1D1B;
  font-weight: 200;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #FF8C00;
}

/* Estilos específicos para el botón App */
#liApp {
  background-color: #FF8C00;
  border-radius: 25px;
  padding: 0.6%;
  transition: 0.3s;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.20);
}

#liApp a {
  color: #FFFFFF;
  display: block;
  width: 100%;
}

#liApp:hover {
  background-color: #1D1D1B;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}

/* Estilos responsivos */
@media (max-width: 985px) {
  /* Oculta el menú de navegación en pantallas pequeñas */
  .navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  /* Muestra el menú si está abierto */
  .navMenu.open {
    display: flex;
  }

  /* Muestra el ícono de hamburguesa en pantallas pequeñas */
  .menu-toggle {
    display: block;
  }

  /* Ajuste para que los ítems se muestren en columna */
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  #navLogo {
    width: 50%;
  }
}
