@font-face {
  font-family: 'D-DIN';
  src: url('../resources/fonts/D-DIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.plans-container {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5%;
    padding: 2% 5% 0 5%;
}
  
  .plans-table {
    width: 100%;
    background-color: white;
    border-collapse:collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden; /* Para asegurarte de que el contenido no sobresalga */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);
  }
  
  .plans-table th, 
  .plans-table td {
    padding: 15px;
    text-align: left;
    border-top: 1px solid #ccc;
    
    
  }
  
  .plans-table th {
    background-color: #f7f7f7;
    font-family: 'D-DIN';
  }
  
  .plans-table td {
    /* position: relative; */
    font-family: 'D-DIN';
    
  }
  
  .plans-table .check {
    color: rgb(6, 214, 6);
    font-weight: bold;
  }
  
  .plans-table .cross {
    color: rgb(100, 100, 100);
    font-weight: bold;
  }
  
  /* Borde naranja en la columna PLAN Black */
  .plans-table th:nth-child(2),
  .plans-table td:nth-child(2) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
  }
  

  
  /* Alineación de los precios */
  .plans-table td:last-child {
    text-align: left;
  }
  
  h2 {
    color: #e9e9e9;
    font-family: 'D-DIN';
  }
  
  p {
    font-size: 1.1em;
    font-family: 'D-DIN';
    color: #e7e7e7;
  }
  
  #isotipos{
    position: absolute;
    height: auto;
    width: 1.2%;
    min-width: 10px;
    max-width: 13px;
 
    margin: 0 0 0 0.2%;
    /*margin-left: 1.8%; */
    
  }

  #bengalTh{
    color: #FF8C00;
  }