@font-face {
    font-family: 'D-DIN';
    src: url('../resources/fonts/D-DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.averam-second-btn a{
    font-family: 'D-DIN';
}

.averam-second-btn{
    display: inline;
    text-align: center;
    padding: 3% 4% 3% 4%;
    background: #1D1D1B;
    color: #ffffff;
    /* text-transform: uppercase; */

    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);
    transition: 0.3s;
}

.averam-second-btn:hover{
    text-align: center;
    background: #ffffff;
    color: black;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
}